@page "/dictionaries"
@inject IStringLocalizer<App> Localize
@inject IMediator Mediator

<PageTitle>WotBlitzStatisticsPro-Dictionaries</PageTitle>

<div class="d-flex flex-column mt-2">
    <div class="d-flex flex-row align-items-center ms-2">
        <button type="button" class="btn btn-secondary me-2" @onclick="@(async (e) => await UpdateDictionaries())">@Localize["Update dictionaries"]</button>
        @if(DictionariesUpdated != null)
        {
        <div class="me-2">
            @Localize["Last updated"] @DictionariesUpdated.LastUpdateDate.ToString("g"); @Localize["Game version"] @DictionariesUpdated.GameVersion
        </div>
        }
    </div>
    @if(Loading)
    {
    <div class="d-flex flex-column justify-content-center align-items-center mt-4">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }
</div>

@code {
    public DictionariesInfoDto? DictionariesUpdated { get; set; }

    private bool Loading { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        DictionariesUpdated = await Mediator.Send(new GetLastDictionariesUpdateRequest(CultureInfo.CurrentCulture.Name));
    }

    public async Task UpdateDictionaries()
    {
        Loading = true;
        DictionariesUpdated = await Mediator.Send(new UpdateDictionariesRequest(CultureInfo.CurrentCulture.Name));
        Loading = false;
    }
}