@page "/planner"
@inherits PlannerBase;

@if(Localize != null && Mediator != null)
{

@if (!IsPlayerLoggedIn)
{
<div class="d-flex justify-content-evenly">
    <button type="button" class="btn btn-warning mt-3"
        @onclick="@(async (e) => { await Mediator.Publish(new RedirectToLoginPlayerNotification()); })">
        <img src="icons/wg-200.png" width="32px" height="32px"> @Localize["Login with WG.net ID"]</button>
</div>
} else 
{
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid d-flex align-items-center">
        <div class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
            <div class="me-3">
                <b>@PlayerInfo?.Nickname</b>
            </div>
            <div class="me-2">
                <img src="icons/profile.private.gold.scale-200.png" width="32px" height="32px">
                @PlayerInfo?.Gold.ToString("N0")
            </div>
            <div class="me-2">
                <img src="icons/profile.private.silver.scale-200.png" width="32px" height="32px">
                @Credits()
            </div>
            <div>
                <img src="icons/profile.private.xp.scale-200.png" width="32px" height="32px">
                @FreeXp()
            </div>
        </div>
        <button type="button" class="btn btn-primary"
        @onclick="@(async (e) => { await Logout(); })">
        <img src="icons/navigation.exit.scale-200.png" width="32px" height="32px"></button>
    </div>
</nav>
<div class="d-flex justify-content-evenly">
    <button type="button" class="btn btn-warning mt-3"
        @onclick="@(async (e) => { await AddNewTank(); })">
        @Localize["Add new tank"]</button>
</div>
@if(ResourcePlans != null)
{
    <div class="d-flex flex-column justify-content-evenly">
        <table class="table">
            <tbody>
    @foreach (var planRow in ResourcePlans)
    {
        <tr class="@(planRow.Bought == null ? "" : "table-secondary")">
            <td>@planRow.Order</td>
            <td><img src="@(planRow.TankNation.NationAsset())" width="55px" height="32px"></td>
            <td>
                @planRow.TankTier.RomanNumber()
                <img src="@(planRow.TankType.TankTypeAsset(false))" width="32px" height="32px">
            </td>
            <td>
                <img src="@planRow.TankPreview.ToLocalVehiclesUrl()" width="72px" height="53px">
            </td>
            <td>
                <b>@planRow.TankName</b>
            </td>
            <td>
                <img src="icons/profile.private.silver.scale-200.png" width="32px" height="32px">
                @Truncate(planRow.TankPriceWithEquipmentAndDiscount)
            </td>
            <td>
                <img src="icons/xp.avg.scale-200.png" width="32px" height="32px">
                @Truncate(planRow.TotalNonDefaultModulesPriceXp)
            </td>
            <td>
            @if(planRow.Bought == null)
            {
                <button type="button" class="btn btn-warning mt-3"
                        @onclick="@(async (e) => { await MarkTankAsBought(planRow.TankId); })">
                        @Localize["Mark as bought"]</button>
            }
            else
            {
                @planRow.Bought.Value.ToString("d");
            }
            </td>
        </tr>
    }
            </tbody>
            <tfoot>
                <tr>
                    <td>@TotalCount</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <img src="icons/profile.private.silver.scale-200.png" width="32px" height="32px">
                        @if(TotalPrice.HasValue){
                        @Truncate(TotalPrice.Value)
                        }
                    </td>
                    <td>
                        <img src="icons/xp.avg.scale-200.png" width="32px" height="32px">
                        @if(TotalXp.HasValue){
                        @Truncate(TotalXp.Value)
                        }
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
}
}

}

<TanksPlannerDialog @ref="TanksPlannerDialog"></TanksPlannerDialog>