@inject IStringLocalizer<App> Localize;
@inject IMediator Mediator
@if(Player != null)
{
<div class="d-flex flex-row flex-wrap mt-4">
    <div class="card mt-2 ms-2" style="width: 20rem;">
    <div class="card-body">
        <div class="d-flex flex-column">
        <AchievementsCard Achievements="@Player?.Achievements"></AchievementsCard>
            <table class="table mt-4" width="100%">
            <tbody>
                <tr>
                    <td>@Localize["Battles"]:</td>
                    <td align="right">
                        <b>@Player?.Battles.ToString("N0")</b>
                        @if(PlayerSessionInfo != null)
                        {
                        <small style="color: green">
                            +@PlayerSessionInfo.BattlesDiff.ToString("N0")
                        </small>
                        }
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Win rate"]:</td>
                    <td align="right">
                        <b>@Player?.WinRate.ToString("N2")%</b>
                        @if(PlayerSessionInfo != null)
                        {
                        <small style="@(PlayerSessionInfo.WinRateDiff > 0 ? "color: green" : "color: red")">
                            @ShowDiff(PlayerSessionInfo.WinRateDiff)
                        </small>
                        }
                        <div style="background-color: @Player?.WinRate.ScaleColor(); width: 100%; height: 5px; margin-left: 2px; margin-right: 2px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Wn7"]:</td>
                    <td align="right">
                        <b>@Player?.Wn7.ToString("N2")</b>
                        @if(PlayerSessionInfo != null)
                        {
                        <small style="@(PlayerSessionInfo.Wn7Diff > 0 ? "color: green" : "color: red")">
                            @ShowDiff(PlayerSessionInfo.Wn7Diff)
                        </small>
                        }
                        <div style="background-color: @Player?.Wn7.Wn7ScaleColor(); width: 100%; height: 5px; margin-left: 2px; margin-right: 2px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Average XP"]:</td>
                    <td align="right">
                        <b>@Player?.AvgXp.ToString("N0")</b>
                        @if(PlayerSessionInfo != null)
                        {
                        <small style="@(PlayerSessionInfo.AvgXpDiff > 0 ? "color: green" : "color: red")">
                            @ShowDiff(PlayerSessionInfo.AvgXpDiff)
                        </small>
                        }
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Average Damage"]:</td>
                    <td align="right">
                        <b>@Player?.AvgDamage.ToString("N0")</b>
                        @if(PlayerSessionInfo != null)
                        {
                        <small style="@(PlayerSessionInfo.AvgDamageDiff > 0 ? "color: green" : "color: red")">
                            @ShowDiff(PlayerSessionInfo.AvgDamageDiff)
                        </small>
                        }
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Damage coefficient"]:</td>
                    <td align="right">
                        <b>@Player?.DamageCoefficient.ToString("N2")</b>
                        @if(PlayerSessionInfo != null)
                        {
                        <small style="@(PlayerSessionInfo.DamageCoefficientDiff > 0 ? "color: green" : "color: red")">
                            @ShowDiff(PlayerSessionInfo.DamageCoefficientDiff)
                        </small>
                        }
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Survival rate"]:</td>
                    <td align="right">
                        <b>@Player?.SurvivalRate.ToString("N0")%</b>
                        @if(PlayerSessionInfo != null)
                        {
                        <small style="@(PlayerSessionInfo.SurvivalRateDiff > 0 ? "color: green" : "color: red")">
                            @ShowDiff(PlayerSessionInfo.SurvivalRateDiff)
                        </small>
                        }                        
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Avg tier"]:</td>
                    <td align="right">
                        <b>@Player?.AvgTier?.ToString("N2")</b>
                        @if(PlayerSessionInfo != null)
                        {
                        <small style="@(PlayerSessionInfo.AvgTierDiff > 0 ? "color: green" : "color: red")">
                            @ShowDiff(PlayerSessionInfo.AvgTierDiff)
                        </small>
                        }                        
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    </div>

    <div class="card mt-2 ms-2" style="width: 20rem;">
    <div class="card-body">
        <OverallStatistics Statistics="@Player"></OverallStatistics>
    </div>
    </div>
    <div class="card mt-2 ms-2" style="width: 20rem;">
    <div class="card-body">
        <table class="table mt-4" width="100%">
            <tbody>
                <tr>
                    <td>@Localize["Tanks count"]:</td>
                    <td align="right"><b>@Player?.Tanks?.Length.ToString("N0")</b></td>
                </tr>
                <tr>
                    <td>@Localize["With Mastery rank"]:</td>
                    <td align="right"><b>@(TanksMastersCount()?.ToString("N0")) (@(TanksMastersPercent()?.ToString("N0"))%)</b></td>
                </tr>
                <tr>
                    <td>@Localize["Premium tanks"]:</td>
                    <td align="right"><b>@(PremiumTanksCount()?.ToString("N0")) (@(PremiumPercent()?.ToString("N0"))%)</b></td>
                </tr>
                <tr>
                    <td>@Localize["Researched tanks X tier"]:</td>
                    <td align="right"><b>@(TierTenTanksCount()?.ToString("N0")) @Localize["from"] @ResearchedTenTierTanksCount (@(TierTenPercent()?.ToString("N0"))%)</b></td>
                </tr>
                <tr>
                    <td>@Localize["Active tanks (20+ Battles)"]:</td>
                    <td align="right"><b>@(Tanks20PlusCount()?.ToString("N0")) (@(Tanks20PlusPercent()?.ToString("N0"))%)</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Localize["Most effective tank"]:
                        <TankCard Tank="MostRelevantTank()"></TankCard>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Localize["Tank with max frags"] (@Player?.MaxFrags):
                        <TankCard Tank="Player?.Tanks?.FirstOrDefault(t => t.TankId == Player.MaxFragsTankId)"></TankCard>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Localize["Tank with max XP"] (@Player?.MaxXp.ToString("N0")):
                        <TankCard Tank="Player?.Tanks?.FirstOrDefault(t => t.TankId == Player.MaxXpTankId)"></TankCard>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
}

@code {
    [Parameter]
    public PlayerInfoDto? Player { get; set; }

    [Parameter]
    public SessionInfoDto? PlayerSessionInfo { get; set; }

    public int ResearchedTenTierTanksCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ResearchedTenTierTanksCount = await Mediator.Send(new GetResearchedTenTierTanksCountRequest());
    }

    public int? TanksMastersCount()
    {
        return Player?.Tanks?.Count(t => t.MarkOfMastery == WotBlitzStatisticsPro.Model.MarkOfMastery.Master);
    }

    public int? TanksMastersPercent()
    {
        var mastersCount = TanksMastersCount();
        if (mastersCount.HasValue && Player?.Tanks != null)
        {
            return mastersCount * 100 / Player.Tanks.Length;
        }
        return null;
    }

    public int? PremiumTanksCount()
    {
        return Player?.Tanks?.Count(t => t.IsPremium);
    }

    public int? PremiumPercent()
    {
        var premiumCount = PremiumTanksCount();
        if (premiumCount.HasValue && Player?.Tanks != null)
        {
            return premiumCount * 100 / Player.Tanks.Length;
        }
        return null;
    }

    public int? TierTenTanksCount()
    {
        return Player?.Tanks?.Count(t => t.Tier == 10 && t.IsPremium == false);
    }

    public int? TierTenPercent()
    {
        var tanksCount = TierTenTanksCount();
        if (tanksCount.HasValue && ResearchedTenTierTanksCount > 0)
        {
            return tanksCount * 100 / ResearchedTenTierTanksCount;
        }
        return null;
    }

    public int? Tanks20PlusCount()
    {
        return Player?.Tanks?.Count(t => t.Battles > 20);
    }

    public int? Tanks20PlusPercent()
    {
        var premiumCount = Tanks20PlusCount();
        if (premiumCount.HasValue && Player?.Tanks != null)
        {
            return premiumCount * 100 / Player.Tanks.Length;
        }
        return null;
    }

    public TankInfoDto? MostRelevantTank()
    {
        return Player?.Tanks?.FindMostRelevantTank();
    }

    public string ShowDiff(decimal diff)
    {
        return $" {(diff > 0 ? "+" : "")}{diff:N2}";
    }

}