@inject IStringLocalizer<App> Localize;
@inject IMediator Mediator
@if(Player != null)
{
<div class="d-flex flex-row flex-wrap mt-4">
    <div class="card mt-2 ms-2" style="width: 20rem;">
    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-around">
                <div class="position-relative">
                    <img src="mastery/vehicle.mark.master.big.scale-200.png" width="60px" height="60px">
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-secondary">
                        @Player?.Achievements?.Mastery.ToString("N0")
                        <span class="visually-hidden">Mark of mastery</span>
                    </span>
                </div>
                <div class="position-relative">
                    <img src="medals/Kolobanov.png" width="60px" height="60px">
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-secondary">
                        @Player?.Achievements?.MedalKolobanov.ToString("N0")
                        <span class="visually-hidden">Medal Kolobanov</span>
                    </span>
                </div>   
                <div class="position-relative">
                    <img src="medals/mainGun.png" width="60px" height="60px">
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-secondary">
                        @Player?.Achievements?.mainGun.ToString("N0")
                        <span class="visually-hidden">Medal Main gun</span>
                    </span>
                </div>                             
            </div>

            <div class="d-flex flex-row justify-content-around mt-4">
                <div class="position-relative">
                    <img src="medals/Rassenay.png" width="60px" height="60px">
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-secondary">
                        @Player?.Achievements?.HeroesOfRassenay.ToString("N0")
                        <span class="visually-hidden">Medal Heroes of Rassenay</span>
                    </span>
                </div>                
                <div class="position-relative">
                    <img src="medals/Pool.png" width="60px" height="60px">
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-secondary">
                        @Player?.Achievements?.MedalLafayettePool.ToString("N0")
                        <span class="visually-hidden">Medal Lafayet Pool</span>
                    </span>
                </div>
                <div class="position-relative">
                    <img src="medals/Walters.png" width="60px" height="60px">
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-secondary">
                        @Player?.Achievements?.MedalRadleyWalters.ToString("N0")
                        <span class="visually-hidden">Medal Radley Walters</span>
                    </span>
                </div>
                <div class="position-relative">
                    <img src="medals/warrior.png" width="60px" height="60px">
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-secondary">
                        @Player?.Achievements?.Warrior.ToString("N0")
                        <span class="visually-hidden">Medal Warrior</span>
                    </span>
                </div>

            </div>
            <table class="table mt-4" width="100%">
            <tbody>
                <tr>
                    <td>@Localize["Battles"]:</td>
                    <td align="right"><b>@Player?.Battles.ToString("N0")</b></td>
                </tr>
                <tr>
                    <td>@Localize["Win rate"]:</td>
                    <td align="right">
                        <b>@Player?.WinRate.ToString("N2")%</b>
                        <div style="background-color: @Player.WinRate.ScaleColor(); width: 100%; height: 5px; margin-left: 2px; margin-right: 2px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Wn7"]:</td>
                    <td align="right">
                        <b>@Player.Wn7.ToString("N2")</b>
                        <div style="background-color: @Player.Wn7.Wn7ScaleColor(); width: 100%; height: 5px; margin-left: 2px; margin-right: 2px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Average XP"]:</td>
                    <td align="right"><b>@Player.AvgXp.ToString("N0")</b></td>
                </tr>
                <tr>
                    <td>@Localize["Average Damage"]:</td>
                    <td align="right"><b>@Player.AvgDamage.ToString("N0")</b></td>
                </tr>
                <tr>
                    <td>@Localize["Damage coefficient"]:</td>
                    <td align="right"><b>@Player.DamageCoefficient.ToString("N2")</b></td>
                </tr>
                <tr>
                    <td>@Localize["Survival rate"]:</td>
                    <td align="right"><b>@Player.SurvivalRate.ToString("N0")%</b></td>
                </tr>
                <tr>
                    <td>@Localize["Avg tier"]:</td>
                    <td align="right"><b>@Player.AvgTier?.ToString("N2")</b></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    </div>

    <div class="card mt-2 ms-2" style="width: 20rem;">
    <div class="card-body">
        <OverallStatistics Statistics="@Player"></OverallStatistics>
    </div>
    </div>
    <div class="card mt-2 ms-2" style="width: 20rem;">
    <div class="card-body">
        <table class="table mt-4" width="100%">
            <tbody>
                <tr>
                    <td>@Localize["Tanks count"]:</td>
                    <td align="right"><b>@Player?.Tanks?.Length.ToString("N0")</b></td>
                </tr>
                <tr>
                    <td>@Localize["With Mastery rank"]:</td>
                    <td align="right"><b>@(TanksMastersCount()?.ToString("N0")) (@(TanksMastersPercent()?.ToString("N0"))%)</b></td>
                </tr>
                <tr>
                    <td>@Localize["Premium tanks"]:</td>
                    <td align="right"><b>@(PremiumTanksCount()?.ToString("N0")) (@(PremiumPercent()?.ToString("N0"))%)</b></td>
                </tr>
                <tr>
                    <td>@Localize["Researched tanks X tier"]:</td>
                    <td align="right"><b>@(TierTenTanksCount()?.ToString("N0")) @Localize["from"] @ResearchedTenTierTanksCount (@(TierTenPercent()?.ToString("N0"))%)</b></td>
                </tr>
                <tr>
                    <td>@Localize["Active tanks (20+ Battles)"]:</td>
                    <td align="right"><b>@(Tanks20PlusCount()?.ToString("N0")) (@(Tanks20PlusPercent()?.ToString("N0"))%)</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Localize["Tank with max frags"] (@Player?.MaxFrags):
                        @Player?.MaxFragsTankId
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Localize["Tank with max XP"] (@Player?.MaxXp.ToString("N0")):
                        @Player?.MaxXpTankId
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
}

@code {
    [Parameter]
    public PlayerInfoDto? Player { get; set; }

    public int ResearchedTenTierTanksCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ResearchedTenTierTanksCount = await Mediator.Send(new GetResearchedTenTierTanksCountRequest());
    }

    public int? TanksMastersCount()
    {
        return Player?.Tanks?.Count(t => t.MarkOfMastery == WotBlitzStatisticsPro.Model.MarkOfMastery.Master);
    }

    public int? TanksMastersPercent()
    {
        var mastersCount = TanksMastersCount();
        if (mastersCount.HasValue && Player?.Tanks != null)
        {
            return mastersCount * 100 / Player.Tanks.Length;
        }
        return null;
    }

    public int? PremiumTanksCount()
    {
        return Player?.Tanks?.Count(t => t.IsPremium);
    }

    public int? PremiumPercent()
    {
        var premiumCount = PremiumTanksCount();
        if (premiumCount.HasValue && Player?.Tanks != null)
        {
            return premiumCount * 100 / Player.Tanks.Length;
        }
        return null;
    }

    public int? TierTenTanksCount()
    {
        return Player?.Tanks?.Count(t => t.Tier == 10 && t.IsPremium == false);
    }

    public int? TierTenPercent()
    {
        var tanksCount = TierTenTanksCount();
        if (tanksCount.HasValue && ResearchedTenTierTanksCount > 0)
        {
            return tanksCount * 100 / ResearchedTenTierTanksCount;
        }
        return null;
    }

    public int? Tanks20PlusCount()
    {
        return Player?.Tanks?.Count(t => t.Battles > 20);
    }

    public int? Tanks20PlusPercent()
    {
        var premiumCount = Tanks20PlusCount();
        if (premiumCount.HasValue && Player?.Tanks != null)
        {
            return premiumCount * 100 / Player.Tanks.Length;
        }
        return null;
    }

}