@inject IStringLocalizer<App> Localize;
@if(Player != null)
{
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <table class="table" width="100%">
    <tbody>
        <tr>
            <td>@Localize["Battles"]:</td>
            <td align="right"><b>@Player.Battles.ToString("N0")</b></td>
        </tr>
        <tr>
            <td>@Localize["Win rate"]:</td>
            <td align="right">
                <b>@Player.WinRate.ToString("N2")%</b>
                <div style="background-color: @Player.WinRate.ScaleColor(); width: 100%; height: 5px; margin-left: 2px; margin-right: 2px;"></div>
            </td>
        </tr>
        <tr>
            <td>@Localize["Wn7"]:</td>
            <td align="right">
                <b>@Player.Wn7.ToString("N2")</b>
                <div style="background-color: @Player.Wn7.Wn7ScaleColor(); width: 100%; height: 5px; margin-left: 2px; margin-right: 2px;"></div>
            </td>
        </tr>
        <tr>
            <td>@Localize["Average XP"]:</td>
            <td align="right"><b>@Player.AvgXp.ToString("N0")</b></td>
        </tr>
        <tr>
            <td>@Localize["Average Damage"]:</td>
            <td align="right"><b>@Player.AvgDamage.ToString("N0")</b></td>
        </tr>
        <tr>
            <td>@Localize["Damage coefficient"]:</td>
            <td align="right"><b>@Player.DamageCoefficient.ToString("N2")</b></td>
        </tr>
        <tr>
            <td>@Localize["Survival rate"]:</td>
            <td align="right"><b>@Player.SurvivalRate.ToString("N0")%</b></td>
        </tr>
        <tr>
            <td>@Localize["Avg tier"]:</td>
            <td align="right"><b>@Player.AvgTier?.ToString("N2")</b></td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
}

@code {
    [Parameter]
    public PlayerInfoDto? Player { get; set; }
}