@inject IStringLocalizer<App> Localize;

@if(Tank != null)
{
<div class="tank-list-item" >
    <div class="tank-image" >
        <div class="tank-flag-background" style="background-image: url('@Tank.TankNation!.NationAssetFaded()')"></div>
        <div class="tank-tier">
            @if (Tank.IsPremium)
            {

                <b style="color: @Constants.ClanTagColor; font-size: 16px"> @Tank.Tier.RomanNumber()</b>
            }
            else
            {
                <b style="font-size: 16px"> @Tank.Tier.RomanNumber()</b>
            }
        </div>
        <img src="@Tank.MarkOfMastery.IconAsset()" class="mastery-image" />
        <span class="mastery-badge badge rounded-pill bg-secondary">
            @MasteryCount()?.ToString("N0")
            <span class="visually-hidden">Mark of mastery</span>
        </span>
        <img src=@Tank.PreviewImage.ToLocalVehiclesUrl() class="tank-preview" />
        <img src="@Tank.TankType!.TankTypeAsset(Tank.IsPremium)" class="tank-type" />
    </div>
    <div class="tank-info">
        <div class="tank-info-first-row">
            <div>
                @if (Tank.IsPremium)
                {
                    <span style="color: @Constants.ClanTagColor; font-size: 14px">
                        @Tank.Name
                    </span>
                }
                else
                {
                    <span style="font-size: 14px">@Tank.Name</span>
                }
                </div>
            <div>
                Wn7: @Tank.Wn7.ToString("N0")
                <div style="background-color: @Tank.Wn7.Wn7ScaleColor(); width: 100%; height: 3px; margin-right: 2px;"></div>
            </div>
        </div>
        <div class="tank-info-second-row">
            <div>
                <img src="icons/details.battles.scale-200.png" class="icon-scale" /> @Tank.Battles.ToString("N0")
            </div>
            <div>
                <img src="icons/details.wins.scale-200.png" class="icon-scale" /> <b>@Tank.WinRate.ToString("N0")%</b>
            </div>
            <div>
                <img src="icons/damage.scale-200.png" class="icon-scale" /> @Tank.AvgDamage.ToString("N0")
            </div>
            <div>
                <img src="icons/xp.avg.scale-200.png" class="icon-scale" /> @Tank.AvgXp.ToString("N0")
            </div>
        </div>
        <div style="background-color: @Tank.WinRate.ScaleColor(); width: 100%; height: 5px; margin-right: 2px;"></div>
    </div>
</div>
}

@code {
    [Parameter]
    public TankInfoDto? Tank { get; set; }

    public int? MasteryCount()
    {
        if(Tank == null)
        {
            return null;
        }
        switch(Tank.MarkOfMastery)
        {
            case MarkOfMastery.Master: 
                return Tank.Achievements?.Mastery;
            case MarkOfMastery.Rank1:
                return Tank.Achievements?.MasteryRank1;
            case MarkOfMastery.Rank2:
                return Tank.Achievements?.MasteryRank2;
            case MarkOfMastery.Rank3:
                return Tank.Achievements?.MasteryRank3;
            default:
                return 0;
        }
    }
}